@import "./config/main";

.enbridge-content-container {
    @import "./components/main";
    @import "./media/main";
}
@import "./components/dialog";

.tile {
    .information {
        background-color: transparent;
    }
}

.tile.green {
    .control-label {
        width: 70px !important;
    }
    .fields {
        width: 210px !important;
    }
    [for="remember-email-check"]:not(.fake-input) {
        font-size: 12px;
        padding-left: 18px;
        vertical-align: middle;
    }

    input[type="checkbox"] + .fake-input:after {
        background-color: white;
    }

    .fake-input {
        &:before {
            top: 0 !important;
            height: 15px !important;
            width: 15px !important;
        }
        &:after {
            left: 3px !important;
            top: 3px !important;

            height: 9px !important;
            width: 9px !important;
        }
    }
}

#address-confirmation,
#newcustomers-address-confirmation{
    display: inline-block;
    vertical-align: middle;
    width: 125px;
    font-weight: bold;
    font-size: 14px;
}

#property-info,
#newcustomers-property-info{
    display: none;
    margin: 30px auto;
    width: 480px;
}

#mailing-address + .fake-input {
    margin-top: 40px;
}

#information-acceptance,
#newcustomers-information-acceptance {
    >button {
        padding-top: 10px;
        padding-bottom : 10px;
        width: 80px;
    }
}

#current-number {
    & + .enbridge-dropdown {
        width: 200px;
    }
}

#stop-select + .enbridge-dropdown{
    margin-bottom: $normal-margin;
    margin-left: 25px;
    width: 380px;
}

#street-number-alternative,
#suffix-alternative,
#misc-info-alternative {
    width: 60px;
}

#street,
#street-alternative{
    width: 220px;
}

#city-or-town,
#city-or-town-alternative{
    width: 220px;
}

#postal-code-input,
#postal-code-input-alternative{
    width: 180px;
}

#mailing-address-alternative + .fake-input{
    margin-top: 30px;
}

#select_your_address_form {
    .fake-input {
        margin-left: 100px;
    }
}

#newcustomers-day + .enbridge-dropdown,
#month-user-info + .enbridge-dropdown {
    width: 130px;
}

#newcustomers-month + .enbridge-dropdown{
    width: 1S75px;
}

#accordion-like {
    margin: 0 auto;
    width: 450px;
}

#code-validator {
    margin: 0;
    width: 200px;

    & + .error-message {
        left: 186px;
        position: relative;
        width: 190px;
    }
}

#select_your_street {
    .form-group {
        margin-bottom: 0;
    }
}

.buttons {
    margin-top: 20px;
}

#newcustomers {
    .information {
        margin-bottom: ($normal-margin * 2);
    }

    .special-info {
        padding: 20px 20px 20px 45px;
        position: relative;
        &:before {
            position: absolute;
            left: $normal-margin;
            top: 30px;
        }
    }
}

[for="newcustomers-year"] + .set-field {
    max-width: 500px;
}


.summary {

   .address {
        margin: 0 auto;
        min-height: 205px;
        width: 195px;
    }
    .information {
        background: transparent;
    }
}
