@import "./config/main";

.enbridge-content-container {
    @import "./components/main";
    @import "./media/main";
}
@import "./components/dialog";

#adress-conformation {
    font-weight: bold;
    font-size: 14px;
}

#property-info {
    display: none;
    margin: 30px auto;
    width: 480px;
}

#mailing-adress + .fake-input {
    margin-top: 40px;
}

#information-acceptance {
    >button {
        padding-top: 10px;
        padding-bottom : 10px;
        width: 80px;
    }
}

#current-number {
    & + .enbridge-dropdown {
        width: 200px;
    }
}

#adress-conformation {
    display: inline-block;
    vertical-align: middle;
    width: 125px;
}

#stop-select + .enbridge-dropdown{
    margin-left: 25px;
    width: 380px;
}


#street-number-alternative,
#suffix-alternative,
#misc-info-alternative {
    width: 60px;
}

#street,
street--alternative{
    width: 220px;
}

#city-or-town,
#city-or-town-alternative{
    width: 220px;
}

#postal-code-input,
#postal-code-input--alternative{
    width: 180px;
}

#mailing-adress-alternative + .fake-input{
    margin-top: 30px;
}

#select_your_adress_form {
    .fake-input {
        margin-left: 100px;
    }
}

#month-user-info + .enbridge-dropdown{
    width: 130px;
}


#accordion-like {
    margin: 0 auto;
    width: 450px;
}

#code-validator {
    margin: 0;

    & + .error-message {
        left: 186px;
        position: relative;
        width: 190px;
    }
}

#select_your_street {
    .form-group {
        margin-bottom: 0;
    }
}


.buttons {
    margin-top: 20px;
}


#newcustomers {
    .information {
        margin-bottom: ($normal-margin * 2);
    }

    .special-info {
        padding: 20px 20px 20px 45px;
        position: relative;
        &:before {
            position: absolute;
            left: $normal-margin;
            top: 30px;
        }
    }
}
