{{#>_layout}}
  {{#*inline "messagecontent"}}
    <p style="font-size: 14px; margin-top: 0;">It&rsquo;s your team at Enbridge. It looks like you started to fill out a move request a few days ago through myEnbridge but haven&rsquo;t had a chance to finish it. Totally understandable! We know how hectic moving can be and
    figure you&rsquo;ve probably got a to-do list as long as your arm. That&rsquo;s why we want to help you avoid having to re-enter all your info as your online move request will expire in <b>12 days</b>.</p>
    <p style="font-size: 14px;">When you&rsquo;re ready, just
      <a href="" style="text-decoration: none; font-weight: 600;">
        <font color="{{ colors.link }}">login to MyEnbridge</font>
      </a> to finish your move request.</p>
    <p style="font-size: 14px;">Thanks for using our online service options! You&rsquo;ve picked the easiest and fastest way to get it done.</p>
    <p style="font-size: 14px; margin-bottom: 0;">Your Enbridge Team</p>
  {{/inline}}
  {{> _header }}
  {{> _greetings title='Hi John,' subtitle='Your move request is incomplete.' img=images.residential }}
  {{> _message }}
  {{> _signin }}
  {{> _blankrow }}
  {{> _footer }}
{{/_layout}}
