@media (min-width: $big-size) {

    .container {
        display: block;
        margin-left: auto;
        margin-right: auto;

        .row {
            @include getGrid('bg');
        }

    }

}

@media (min-width: $big-size) {
    @include  hiddenRes('bg');
}
