/* mixins */
/*Tile Component*/
.tile { background-color: #DDD6CC; width: 18em; height: 20em; border: 1px solid #ccc; display: inline-block; color: #636373; position: relative; }
.tile a.btn { width: 100%; text-align: center; border: 1px solid transparent; display: inline-block; padding: 6px 0px; text-decoration: none; text-transform: uppercase; color: #fff; position: absolute; right: 0; bottom: 0; left: 0; }
.tile a.btn:after { content: " >"; }
.tile a.btn.green { background-color: #92B051; }
.tile a.btn.green:hover { background-color: #92B555; }
.tile a.btn.green:active { background-color: #92B000; }
.tile a.btn.yellow { background-color: #FFB81C; }
.tile a.btn.yellow:hover { background-color: #FFB11C; }
.tile a.btn.yellow:active { background-color: #FFA000; }
.tile a.btn.black { background-color: #464E54; }
.tile a.btn.black:hover { background-color: #464E44; }
.tile a.btn.black:active { background-color: #464444; }
.tile a.btn.blue { background-color: #007DBA; }
.tile a.btn.blue:hover { background-color: #007AAA; }
.tile a.btn.blue:active { background-color: #006AAA; }
.tile .content { padding: 5% 4% 0% 10%; position: relative; }
.tile h2, .tile h3 { text-align: left; }
.tile.tile-generic { color: #333333; }
.tile.tile-image { color: #333333; }
.tile.tile-text { color: #333333; }

/* button component*/
.btn { color: #fff; text-decoration: none; text-transform: uppercase; display: inline-block; padding: 6px 12px; margin-bottom: 0; font-size: 14px; font-weight: bolder; line-height: 1.42857143; background: transparent; border: 1px solid transparent; cursor: pointer; vertical-align: middle; touch-action: manipulation; border-radius: 4px; border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -webkit-border-radius: 4px; }
.btn.green { background-color: #92B051; }
.btn.green:hover { background-color: #92B555; }
.btn.green:active { background-color: #92B000; }
.btn.yellow { background-color: #FFB81C; }
.btn.yellow:hover { background-color: #FFB11C; }
.btn.yellow:active { background-color: #FFA000; }
.btn.black { background-color: #464E54; }
.btn.black:hover { background-color: #464E44; }
.btn.black:active { background-color: #464444; }
.btn.blue { background-color: #007DBA; }
.btn.blue:hover { background-color: #007AAA; }
.btn.blue:active { background-color: #006AAA; }
.btn.grey { background-color: #B9BCC2; }
.btn.grey:hover { background-color: #9E9E9E; }
.btn.grey:active { background-color: #757575; }
.btn.like { color: #1084BD; background-color: #F2F3F6; text-transform: none; border-radius: 18px; -moz-border-radius: 18px; -ms-border-radius: 18px; -webkit-border-radius: 18px; font-weight: 500; }
.btn.like:before { content: url("../image/like.png"); }
.btn.like:hover { background-color: #1084BD; color: #fff; }
.btn.like:active { background-color: #1033BB; }
.btn.dislike { color: #1084BD; text-transform: none; border-radius: 18px; -moz-border-radius: 18px; -ms-border-radius: 18px; -webkit-border-radius: 18px; font-weight: 500; }
.btn.dislike:before { content: url("../image/dislike.png"); }
.btn.dislike:hover { background-color: #F2F3F6; }
.btn.dislike:active { background-color: #BDBDBD; }

/*# sourceMappingURL=tiles.css.map */
