.accordion {
    list-style: none;
    margin: 0;
    width: 600px;

    background-color: white;

    .accordion-item {
        display: block;

        color: white;

        .header {
            padding: 10px $normal-padding;
        }

        .content {
            padding: $normal-padding $normal-padding ($normal-padding * 3) $normal-padding;
            border-left: 1px solid $moon-mist;
            border-right: 1px solid $moon-mist;
            color: $jumbo;
            position: relative;

            > p {
                &.strong {
                    margin-top : 0;
                    font-size: 14px;
                    font-weight: bold;
                    margin-left: 7px;
                }
            }
            label{
                display: inline-block;
                margin-bottom: 10px;
                vertical-align: middle;
            }

            .validator {
                @extend .enbridge-btn;

                text-align: right !important;
            }
        }

        &:not(.active) {
            .header {
                background-color: $moon-mist;
                color: $jumbo;
            }
            .content {
                display: none;
            }
        }

        &.active,
        &.processed,
        &:first-child {

            .header {
                background-color: $my-sin;
                color: white;

                cursor: pointer;
            }
        }

        &.active {
            .content {
                display: block;
            }
        }

    }

}
