*{
    @include prefixer(box-sizing, border-box !important, webkit moz ms spec);
    font-family: Arial,sans-serif;

    p,
    span,
    div,
    label,
    input {
        font-size: 14px;
    }

    &:before,
    &:after{
        @include prefixer(box-sizing, border-box !important, webkit moz ms spec);
    }
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}

*:focus {
    outline: 0;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.no-padding {
    padding: 0 !important;
}

.hidden {
    display: none !important;
}

.clearfix {
    display: block;
    width: 1px;
    height: 1px;

    &:after,
    &.before{
        content: '';
        clear: both;
        display: table;

    }

}

.information {
    padding-top: $normal-padding;
    padding-bottom: $normal-padding;
    line-height: 1.5;
    color: $mid-gray;

    &:before{
        content: 'i';
        border-radius: 50%;
        display: inline-block;
        font-size: 16px;
        line-height: 1.2;
        margin: 0 8px;
        height: 19px;
        width: 19px;
        position: relative;
        text-align: center;
        vertical-align: middle;
        font-style: italic;
        font-family: initial;
    }

    &.common {

        &:before {
            background-color: $lochmara;
            color: white;
        }
    }

    &.green {

        &:before {
            background-color: $chelsea-cucumber;
            color: white;
        }
    }
}
.clearfix{
    clear: both;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
    }
