.dates-view{
	max-width:600px;
	.calendar-container{
		overflow: hidden;
	}
	.calendar-column{
		float: left;
		width: 280px;
	}
	.calendar-column + .calendar-column{
		float: right;
	}
	.headline{	
		padding:30px 22px;	
		h3{
			font-size: 16px;
			color:$mid-gray;
			font-weight: 400;
		}
	}
	.adress-component{
		.adress{
			padding:18px 22px;	
			background-color: $moon-mist;
			border-radius:3px 3px 0 0;
			color:$mid-gray;
			font-size: 16px;
			line-height: 1.4;
		}
	}	
}