.enbridge-dropdown {
    display: block;
    position: relative;
    margin-bottom: 10px;

    .header {
        border: 1px solid $mako;
        border-radius: $normal-radius;
        display: block;
        height: 44px;
        width: 100%;
        padding: 14px;
        position: relative;

        background-color: white;
        cursor: pointer;

        .indicator {
            padding: 14px;
            position: absolute !important;
            right: 0;
            top: 0;
            text-align: center;
            line-height: 1.5;
            height: 42px;
            width: 43px;

            color: white;

            background-color: $mako;
            &:after {
                content: '';

                width: 0;
                height: 0;
                border-style: solid;
                border-width: 5px 5px 0 5px;
                border-color: white transparent transparent transparent;
                line-height: 2.5;
            }

        }

    }

    .list-items {
        border-bottom-color: $mako;
        border-style: solid;
        border-top-width: 0;
        border-left-width: 1px;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-bottom-left-radius: $normal-radius;
        border-bottom-right-radius: $normal-radius;
        list-style: none;
        padding: 0;
        position: absolute;
        margin: 0;
        width: 100%;

        background-color: white;

        z-index: 500;

        .list-item {
            padding: 14px;

            cursor: pointer;

            &:hover {
                background-color: $moon-mist;
            }
        }
    }

    &:not(.active) {
        .list-items {
            display: none;
        }
    }

    &.active {

        .header {

            border-bottom-color: $moon-mist;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;

            .indicator {
                &:after {
                    content: '';
                    border-width: 0 5px 5px 5px;
                    border-color: transparent transparent white transparent;

                    display: block;
                    margin: 4px 0 0 3px;
                }
            }

        }

        .list-items {
            display: block;
        }

    }


}
