@mixin longformproperties {
    .questionrows {
        overflow: hidden;

        .last {
            input[type="text"] {
                width: 50%;
                float: left;
                margin-left: 0px;
                margin-top: 16px;
            }
        }

        input[type="text"] {
            width: 100%;
            padding-left: 0% !important;
            float: right;
        }
    }

    .question {
        margin-right: 2%;
        margin-top: 4px !important;
    }

    label {
        width: 100%;
        text-align: center;
        padding: 0% 27% 0% 0%;
    }

    .address {
        margin-right: 29px;
        padding: 4% 0% 0% 0%;
        padding-left: 14px !important;
        padding-right: 0px !important;
    }

    .questionrows2 {
        padding: 0px !important;
        margin-top: -21px;

        .inputinfo {
            margin-top: 1px;
            padding-left: 9px;
        }

        .info {
            padding-top: 21px;
            padding-right: 0px !important;
        }
    }

    .questionrows3 {
        overflow: hidden;

        label {
            padding-top: 3%;
        }

        .labeldiv {
            width: 30%;
            margin-top: 0%;
            position: absolute;
            padding-top: 8px;
            padding-left: 0px !important;
        }

        .enbridge-dropdown {
            width: 70%;
            float: right;
        }
    }
}

.content {
    .formheader {
        margin-top: 0;
        font-size: 22px !important;
        font-weight: bold;
        padding: 9px 0px 0px 15px;
        letter-spacing: 0px;
        margin-left: 0px !important;
        margin-bottom: 0px;
    }
}

.content {
    height: 1400px;
}

.accordion {
    width: 720px;
}

.margin {
    margin-bottom: 5px;
}

.no-padding {
    padding: 0% !important;
}

.form1 {
    background-color: $moon-mist;
    border-radius: 4px;
    height: 81px;
    padding-left: 0%;
    padding: 3% 0% 0% 0%;

    .labelinfo {
        padding-left: 0% !important;
        padding-top: 3%;
    }

    .green {
        padding: 14%;
        border-radius: 100%;
        width: 69%;
        height: 49px;
    }

    .arrow {
        background-image: url("img/arrow_white.png");
        background-repeat: no-repeat;
        background-position: 17px 13px;
    }

    .header {
        background: #fff;
    }
}

.form2 {
    border-radius: 4px;
    height: 81px;
    padding-left: 0%;
    padding: 3% 0% 0% 0%;
    background-color: $moon-mist;

    .question {
        padding: 3%;
    }

    .address {
        font-weight: 700;
    }

    .buttons {
        padding: 2% 0% 0% 0% !important;
    }

    .dawn {
        background-color: $dawn;
        width: 45%;
    }

    .green {
        width: 45%;
    }
}

.form3 {
    border-radius: 4px;
    height: 220px;
    padding-left: 0%;
    padding: 3% 0% 0% 0%;

    .address {
        background-color: $moon-mist;
        height: 70px;
        padding: 5%;
        font-weight: 700;
    }

    .inputs {
        margin-top: 5%;
    }

    .checks {
        margin-top: 4%;
    }
}

.form4 {
    border-radius: 4px;
    padding-left: 0%;
    padding: 3% 0% 0% 0%;

    @include longformproperties;

    .questionrows4 {
        overflow: hidden;
    }
}

.form5 {
    margin-top: 5%;

    .questionscontainer {
        display: none;
    }

    @include longformproperties;
}