.enbridge-form {

    label{

        &.field {
            margin: 24px 0;
        }

    }

    #{$all-text-inputs} {
        border: 1px solid $moon-mist;
        border-radius: 2px;
        font-size: 13px;
        margin:  10px;
        padding: 14px;

        color: $moon-mist;

    }

    #{$all-text-inputs-focus},
    #{$all-text-inputs-active} {
        border-color: $jumbo;

        color: $jumbo;
    }

    #{$all-text-inputs} {

        &.input-error {
            background-color: $we-peep;
            border-color: $deep-blush;
            color: $deep-blush;
        }

    }

    .enbridge-select {
        display: none;
    }

    input[type="radio"],
    input[type="checkbox"]{

        display: none;

        &+ .fake-input {
            border: 1px solid $moon-mist;
            display: inline-block;
            position: relative;
            height: 22px;
            width: 22px;

            color: $moon-mist;
            background: white;
            vertical-align: middle;

            cursor: pointer;

            &:before {
                content: ' ';

                display: block;
                position: relative;
                height: 14px;
                width: 14px;
                top: 3px;
                left: 3px;

                background-color:  $moon-mist;
            }

        }

        &:checked {
            &+ .fake-input {
                &:before {
                    background-color: $buttercup;
                }
            }
        }

    }

    input[type="radio"] {

        &+ .fake-input {
            border-radius: 50%;

            &:before {
                border-radius: 50%;
            }

        }

    }

    input[type="checkbox"] {
        &+ .fake-input {
            border-radius: 2px;

            &:before {
                border-radius: 2px;

            }

        }

    }

    textarea {
        resize: none;
    }

}
