.enbridge-form {
    #{$all-text-inputs} {
        border: rem(1) solid $moon-mist;
        border-radius: rem(2);
        font-size: (13);
        margin:  rem(10);
        padding: rem(14);

        color: $moon-mist;
    }

    #{$all-text-inputs-focus},
    #{$all-text-inputs-active} {
        border-color: $jumbo;

        color: $jumbo;
    }

    input[type="radio"],
    input[type="checkbox"]{

        &+ .fake-input {
            border: 1px solid $moon-mist;
            display: inline-block;
            height: rem(13);
            width: rem(13);

            color: $moon-mist;
            background: white;
            vertical-align: middle;
        }
    }

    input[type="radio"] {
        &+ .fake-input {
            border-radius: 50%;
        }
    }

    input[type="checkbox"]{
        &+ .fake-input {
            border-radius: rem(2);
        }
    }
}
