.Borderincomplete {
    border: 1px solid #ccc;
}

.allsizebtn {
    width: 88%;
    text-align: center;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
    font-size: 18px;
    font-weight: 400;
}

.incomplete-container {
    p {
        padding-top: 28px !important;
        line-height: 1;
        margin-top: 0px;
        font-size: 18px;
        padding-left: 28px;
        padding-right: 28px;

        &.smaller {
            padding-top: 35px !important;
            font-size: 14px;
            margin-bottom: 13px;
        }
    }

    ul {
        margin-bottom: 42px;
        padding-left: 58px;
    }

    .buttondiv {
        float: right;
        margin-right: 182px;
        margin-bottom: 19px;
    }
}