.title-integration{
	display:inline-block !important;
	padding-left: 12px;
	margin-top: 15px;
}

.summary-letters-tile{
	padding:0 10px;
}
.thank-paragraph-bottom{
	margin-bottom: 8px !important;
}

.title-no-integration{
	margin-top: 15px;
}

.align-password{
	    text-align: inherit !important;
    padding-left: 45px;
}

.modal-summary-second-square{
	margin-right: 8px !important;
}

.no-top{
	padding-top: 0px !important;
}

.no-margin-top{
	margin-top: 0px !important;
}
.no-margin-bottom{
	margin-bottom: 0px !important;
}

.min-height-summary{
	min-height:340px !important;
}

.tile-login{
	width: 96% !important;
	.header-form-group{
		p{
			font-size: 36px !important;
		}
	}
}

.login-btn-yellow{
	padding-bottom: 15px !important;
	width: 96% !important;
}

.forget-password{
	margin-top: -16px !important;
	a{
		    padding-left: 28px !important;
	}
}
.my-enbridge-img{
	 width: 37%;
}

.style-text-light{
	overflow: hidden;
	clear: both;
	padding-top: 6px;
	padding-bottom: 0px !important;
}