@mixin addressstye {
    .address {
        width: 266px;
        background-color: rgba(125, 125, 138, 0.95);
        margin-top: 12%;
        margin-left: 3%;
        height: auto;
        border-radius: 52px 2px 48px 2px;

        .content {
            padding: 4%;
            margin-left: 0%;

            h4 {
                color: $turquoise-blue;
                font-size: 24px;
                letter-spacing: -1px;
                margin-top: 8%;
                margin-left: 12%;
            }

            p {
                padding-right: 8%;
                margin-left: 13%;
                font-size: 18px;
                color: #fff;
                letter-spacing: 0px;
                margin-top: 4%;

                &:first-of-type {
                    margin-top: 2%;
                    margin-bottom: 0%;
                }
            }
        }
    }
}

.content {
    height: auto !important;
}

.enbridge-container {
    background-color: #fff;
}

.titles {
    margin-bottom: 3.4%;

    .title {
        font-size: 24px;
        font-weight: 700;
        color: $mid-gray;

        &.white {
            color: #fff;
        }
    }

    .subtitle {
        font-weight: 500;
        font-size: 18px;
        margin-top: 2.3%;
        color: $mid-gray;

        &.white {
            color: #fff;
        }
    }
}

.move-summary {
    min-height: 380px;
    background-image: url("img/family.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 800px;

    .movetitle {
        color: $turquoise-blue;
        font-size: 32px;
        margin-left: 3%;
        font-weight: 400;
    }

    .first {
        margin-top: 35px;
        margin-left: 3%;
        letter-spacing: 1px;
        margin-left: 0%;
        opacity: 0.7;

        &.second {
            margin-top: 0px;
        }
    }

    .arrow {
        background-image: url("img/arrow-02.png");
        background-size: 100%;
        background-repeat: no-repeat;
        height: 307px;
        background-position: 0px 164px;
    }

    @include addressstye;

    .buttondiv {
        .summarybtn {
            float: right;
            margin-right: 2%;
            margin-top: 3%;
            width: auto;
            height: 40px;
            font-size: 18px;
            letter-spacing: 1px;
            font-weight: 300;
            padding: 0 14px;
            text-align: center;
        }
    }

    .TextAfter {
        padding: 0 28px;
    }
}

.your-information {
    min-height: 313px;
    width: 801px;
    margin-top: 6%;
    background-size: 49% !important;
    background-position: 108% 25% !important;

    @include addressstye;

    .address {
        width: 266px;
        background-color: rgba(125, 125, 138, 0.95);
        margin-top: 4%;
        margin-left: 22%;
        height: auto;
        margin-bottom: 26px;
        border-radius: 52px 2px 48px 2px;
        min-height: auto;
    }

    .titles {
        margin-left: 3%;
        margin-top: 4%;
        margin-bottom: 0%;

        .title {
            font-size: 40px;
            letter-spacing: 0px;
        }

        .subtitle {
            font-size: 32px;
            margin-top: 4%;
            letter-spacing: 0px;
        }
    }

    .border {
        border-top: 2px solid;
        margin-top: 1%;
        width: 96%;
        margin-left: 2%;
    }

    .data {
        margin-left: 3%;
        margin-top: 2%;
        font-size: 18px;

        span {
            margin-bottom: 3%;
            letter-spacing: 0px;
            display: block;
        }
    }

    .buttondiv {
        .summarybtn {
            float: left;
            margin-left: 71px;
            margin-top: 16%;
            width: auto;
            height: 40px;
            font-size: 18px;
            letter-spacing: 1px;
            font-weight: 300;
            padding: 0 14px;
            text-align: center;
        }
    }
}

.Features {
    margin-left: 5%;

    p.checked {
        line-height: 1.5;

        &:before {
            content: url("img/checked_03.png");
            display: block;
            float: left;
            margin-right: 5px;
        }
    }
}