.tile {
    border: 1px solid $moon-mist;
    display: inline-block;
    position: relative;
        width: 460px;
    height: 464px;  

    background-color: $moon-mist;

    > .content {
        padding: 5% 4% 0% 10%;
        position:relative;

        .title {
            display: block;
            font-size: 41px;
            margin-top: 7px;

        }

        .subtitle {
            display: block;
            font-size: 16px;
        }
    }

    &.common {
         color: $mid-gray;
    }

    &.tile-generic {
        color: $mako;
    }

    &.tile-image {
        color: $mako;
    }

    &.tile-text {
        color: $mako;
    }
}
