.tile {
    border: 1px solid $moon-mist;
    display: inline-block;
    position: relative;
    min-height: 410px; 
    border-radius:3px; 
    background-color: $moon-mist;
    color:#636372;

    > .content {
        padding: 30px;
        position:relative;
 
        .title {
            display: block;
            font-size: 32px;
            margin: 0 0 20px;
            letter-spacing: -1px;
            font-weight: 400;
        }

        h3.subtitle {
            display: block;
            font-size: 24px;
            font-weight: 400;
            margin: 0 0 20px;
            line-height: 1.2;
        }
        ul{
           list-style-position: inside;
           padding-left: 10px;
           margin-top: 7px;
           li{
            font-size: 14px;
           }
        }
        label{
            font-size: 14px;
        }
        p.information.common{
            font-size: 14px;
            margin-top:30px;
        }
        
        label.align{margin-top: 7%} 
        
        .form-group{
            margin-bottom: 2%;
            &.checks{
                margin-bottom:  20px;
            }
        }
        a.logo{text-decoration: none; font-weight: 700;}
        .circle{
           width: 17px;
            height: 17px;
            background-color: blue;
            color: #fff;
            text-align: center;
            margin-right: 5px;
            float: left;
            margin-top: -1%;
            border-radius: 100% 100%;
            overflow: hidden;
           font-style: italic;
           font-family: Times New Roman;
        }
    }
    .enbridge-btn{
        border-radius: 0 0 3px 3px;
    }
    &.common {
         color: $mid-gray;
    }
    &.green{
        background-color:$chelsea-cucumber;
        color:#fff;
        background-image: url("img/en-tile-bg.png");
        background-repeat: no-repeat;
        background-position: right 90px;
        background-size: 79%;
        
    }    

    &.tile-generic {
        color: $mako;

    }

    &.tile-image {
        color: $mako;
    }

    &.tile-text {
        color: $mako;
    }
    &.postal-code{
        input[type='text']{
            width: 200px;
            display: block;
            margin:0 auto;
            text-align:center;
            margin-top:44px;
            display:block;
        }
    }
    .footer-form-group{
        text-align:right;
        font-size: 13px;
        color: #007dba;
        text-decoration: none;
        margin-top: 20px;
        a{
            font-size:14px; 
            color:$lochmara; 
            text-decoration:none;
            &:hover{
                text-decoration: underline;
            }
        }
        img{
            position: relative; 
            left:0; 
            top:5px; 
            display: inline-block; 
            margin-right:-3px;
            width: 80px;
        }
    }
}
