.tooltip {
    display: inline-block;
    position: relative;

    .content-tooltip {
        display: none;
        position: absolute;
        background-color: #f3f4f7;
        margin-top: 15px;
        border-radius: 5px;
        width: 285px;
        color: $manatee;
        margin-left: -133px;
        padding: 10px;
        z-index: 3;
        padding-right: 25px;
        border: 1px solid #ccc;
        box-shadow: 0px 1px 2px 0px #888888;
        font-size: 13px;
        margin-left: -157px\9;
        margin-top: 35px\9;
		
        .cross {
            z-index: 500;
            width: 20px;
            height: 20px;

            &:after {
                content: " ";
                background: url("img/close.svg") no-repeat 0 0;
                background-size: 100%;
                width: 20px;
                height: 20px;
                display: block;
                float: right;
                cursor: pointer;
                position: absolute;
                top: 3px;
                right: 3px;
            }
        }
    }

	

    .icon {
        width: 20px;
        height: 20px;
        display: inline-block;
        cursor: pointer;
        z-index: 500;

        &:after {
            content: "?";
            background-color: $chelsea-cucumber;
            content: "?";
            border-radius: 12px;
            width: 20px;
            text-align: center;
            height: 20px;
            vertical-align: middle;
            padding-top: 2px;
            color: #fff;
            font-weight: 700;
            float: right;
            cursor: pointer;
            margin-top: 4px;
        }
    }

    .content-tooltip:before {
        width: 0;
        content: ' ';
        height: 0;
        display: block;
        margin: 0 auto;
        position: absolute;
        left: 133px;
        top: 0px;
        top: 1px\9;
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        margin-left: -0.5em;
        bottom: -2em;
        left: 56%;
        box-sizing: border-box;
        border: 6px solid black;
        border-color: transparent transparent #f3f4f7 #f3f4f7;
        transform-origin: 0 0;
        transform: rotate(134deg);
        box-shadow: -1px 1.5px 1px 0 rgba(0, 0, 0, 0.2);
        z-index: 10000;
    }

    &:hover {
        .content-tooltip {
            // display: block;
       
        }
    }
}