.tooltip {
	display: inline;

    .content-tooltip{
    	display: none;
    	position: absolute;
    }
    .icon{
    	&:after{
    		content:"?";
			background-color:$chelsea-cucumber;
			border-radius:50px;
    	}
    }
    .content-tooltip:before{
    	width: 0; 
    	content:'';
		height: 0; 
		border-left: 20px solid transparent;
		border-right: 20px solid transparent;
		border-bottom: 20px solid #f00;
		display: block;
		margin: 0 auto;
    }
    &:hover{
    	.content-tooltip{
    		display: block;
    	}
    }
}
