<tr>
  <td align="center" style="padding: 0 20px 15px">
    <table width="100%" cellspacing="0">
      <tbody>
        <tr>
          <td style="padding: 5px" align="center">
            <img src="{{ imgPath }}/{{ images.info }}" width="20" height="19" alt="Information" title="Information"/>
          </td>
          <td align="left">
            <font style="font-size:11px" face="Arial, Sans-serif" color="#555555">
              Edit your move request in <a href=""><font color="{{ colors.secondaryLink }}">myEnbridge</font></a> and resubmit up to five business days before your move.
            </font>
          </td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>
