<tr>
  <td style="padding: 0 20px 20px">
    <table cellpadding="{{ padding }}" cellspacing="0" cellspacing="0" bgcolor="{{ colors.text-bg }}">
      <tbody>
        <tr>
          <td>
            <font color="{{ colors.text }}" face="{{ font.face }}">
              {{> messagecontent}}
            </font>
          </td>
        </tr>
      </tbody>
    </table>
</tr>
