<tr>
  <td align="center" bgcolor="#8EAC52" valign="middle" style="padding: 10px">
    <table width="75%" height="45">
      <tbody>
        <tr>
          <td align="center">
            <img src="https://www.enbridgegas.com/AppImages/Emails/Moves/myenbridge_big.png" align="middle" width="114" height="24">
          </td>
          <td align="left" valign="middle" bgcolor="#4c5359">
            <table width="100%" cellspacing="0">
              <tbody>
                <tr>
                  <td align="center">
                    <a href="#" style="text-decoration: none;">
                      <span style="padding:0px 5px;">
                        <font color="#ffffff" face="Arial, Sans-serif">
                          SIGN IN
                        </font>
                      </span>
                      <span>
                        <img src="https://www.enbridgegas.com/AppImages/Emails/Moves/arrow_yellow.png" align="top">
                      </span>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>
