<tr>
  <td style="padding: 20px">
    <table width="100%" cellspacing="0" cellpadding="20">
      <tbody>
        <tr>
          <td bgcolor="#92b051" style="background-image: url(https://www.enbridgegas.com/AppImages/Emails/Moves/en-tile-bg.png); background-repeat: no-repeat; background-position: right top; background-attachment: scroll;">
            <h1 style="line-height:1; margin:0; padding:0px 0 10px 0px;">
              <font color="#ffffff" face="Arial, Sans-serif">
                 Your Information
              </font>
            </h1>
            <h2 style="line-height:1; margin:0; font-weight:500; padding:0px 0 0px 0px;">
               <font color="#ffffff" face="Arial, Sans-serif">John Smith</font>
            </h2>
            <hr size="1" noshade="noshade" style="border-color: #dddddd;">
            <p style="margin-bottom: 5px;">
              <font color="#ffffff" style="font-size: 14px" face="Arial, sans-serif">Phone: <b>416-123-4567</b></font>
            </p>
            <p style="margin-top: 5px; margin-bottom: 5px;">
              <font color="#ffffff" style="font-size: 14px" face="Arial, sans-serif">Mobile: <b>416-123-4567</b></font>
            </p>
            <p style="margin-top: 5px; margin-bottom: 5px;">
              <font color="#ffffff" style="font-size: 14px" face="Arial, sans-serif">Additional Contact: <b>Jane Smith</b></font>
            </p>
          </td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>
